<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= image_tag article.img.url(:thumb) %></td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'mode_edit', article, class: "material-icons" %></td>
        <td><%= link_to 'delete_forever', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "material-icons" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Nuevo', new_article_path %>
